#blog-title {
    background: no-repeat url(/assets/img/ifcopenshell_logo.png);
    height: 128px;
    display: inline-block;
    line-height: 128px;
    padding-left: 90px;
}

body div.prompt {
    background: white;
    border: solid 1px #eee;
}